<h3>
	<a name='publications'></a> Publications
</h3>

<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>Rich Features Embedding for Cross-modal Retrieval: A Simple Baseline</strong><br />
       <strong>Xin Fu</strong>, Yao Zhao, Yunchao Wei, Yufeng Zhao, Shikui Wei<br />
       TMM, 2019 <br />
	   <a href="https://ieeexplore.ieee.org/document/8931635">[PDF]</a>
    </p>
  </div>
</div>

<div class="media">

  <div class="media-body">
    <p class="media-heading">
      <strong>Adversarial Task-Specific Learning</strong><br />
       <strong>Xin Fu</strong>, Yao Zhao, Ting Liu, Yunchao Wei, Jianan Li, Shikui Wei<br />
       Neurocomputing, 2019 <br />
	   <a href="https://www.sciencedirect.com/science/article/pii/S0925231219309907">[PDF]</a>
    </p>
  </div>
</div>
